body{
    background-color: rgb(12, 67, 157);
    color: rgb(77, 74, 74);
font-family: "Libertinus Keyboard", system-ui;
margin: 0px;
}
header{
    font-size: 50px;
    border-bottom:   solid 15px blue;
    text-align: center;
   /*margin: 30px;*/
   padding: 35px;
   color:rgb(19, 19, 20)
}

h1{
    font-size: 30px;}

}

p{
    font-size: 40px;

}

section{
background-color: black;
padding-bottom: 80px;
 display: flex;
justify-content: center;

}

.chamada-texto{
    margin-right: 10%;
}

